/*Css for full screen*/
#main{
    width: 80.07%;
    margin: auto;
}


#inner {

    padding: 10px 80px;
    margin: 80px auto; 
    background: #f5f5f5; 
    border: solid #666; 
    border-width: 8px;
}

.bd-div{
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}


.bd-div::after{
    content: "";
    display: block;
    clear: both;
}

.bd-div div.heading{
    flex:15%
}

.bd-div .text{
    flex:85%
}

h2{
font-weight: normal;
font-size: 18px;
}

p{
    font-size: 15px;
    padding-left:9px ;
    padding-right:8px ;
    line-height: 22px;
    text-align: justify;
    word-wrap: break-word;
}

p.innerp{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.inner-div{
    border: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.hd-div .heading h1{
    margin-bottom: 0%;
}

.hd-div .heading h2{
    margin-top: 0%;
}


/* Css for tablet */
@media screen and (max-width:1024px) and (min-width:768px){
p{
    padding-left: 45px;   
    
}
}


/* CSS for mobile screen */
@media screen and (max-width:768px) and (min-width:468px){



.bd-div{
    flex-direction: column;
    padding-bottom: 0px;
}

h2,h1{
    padding-left: 8px;
    font-weight: bold;
}

#inner{
    padding:10px 20px
}

p.innerp{
    border: none;
}

.recent-project-div{
    border-bottom: 1px solid #ccc;
}
}


